.DS_Store

*.log
log/*
.tmp
.npmrc
.idea
.vscode

npm-debug.log
config-local.*
dist/test
src
scripts
test
coverage
.circleci
.bin
.dockerignore
.eslintignore
.eslintrc
.jest.config.js
.gitignore
.nvmrc
.prettierignore
.prettierrc
tsconfig.json
